@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	background-image: linear-gradient( 260deg,
      rgb(129, 165, 212) 23.8%, rgb(112, 221, 212) 92% );
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;

}

button {
	background-color: rgb(70, 141, 221);
	border: 0;
	border-radius: 20px;
	color: rgb(229, 239, 241);
	font-size: 18px;
    font-weight: 600;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

button:active {
	transform: scale(1.5);
}

button:focus {
	outline: none;
}
button:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 7px 2px rgb(29, 68, 104);
    font-size: 24px;
}